<%= javascript_include_tag "new_spot" %>

<div id="map_canvas" style="float:right;width:60%; height:75%"></div>

<h1>Editing spot</h1>

<%= render 'form' %>

<%= link_to 'Show', @spot %> |
<%= link_to 'Back', spots_path %>
