* {
    margin: 0;
    padding: 0;
}

body {
    background: #212121;
    font-family: 'Trebuchet Ms', sans-serif;
    font-size: 1.5em;
    line-height: 1.3;
    color: #333;
}

h1 {
}

#map {
}


#listing {

    color: #ddd;
    padding: 20px;
}