* {
    margin: 0;
    padding: 0;
}

body {
    background: #212121;
    font-family: 'Trebuchet Ms', sans-serif;
    line-height: 1.3;
    color: #333;
}

p {
	color: white;
	
}

#listing {

    color: #ddd;
    padding: 20px;
}